asgiref>=3.4.1
astroid==2.5.1
bcrypt
cffi
click==8.0.3
colorama
cryptography
Django>=3.1,<3.2
django-appconf
mssql-django>=1.1.1,<2
greenlet
Jinja2>=2.11.3
MarkupSafe>=1.1
paramiko>=2.8.1
pyad @ git+https://github.com/jcarswell/pyad.git@cc7455934bfab6aae1a760b0b5c2b3e6f609b5a3
python-dateutil>=2.8.1
pytz
pywin32>=300
sqlparse>=0.4.2
toml>=0.10.2
wrapt>=1.11,<1.13
fuzzywuzzy
sphinx<5,>=3.1
myst-parser>=0.17
sphinx_rtd_theme