{% extends "base/base.html" %}
{% load i18n static %}

{% block page_actions %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a class="btn btn-md btn-primary" style="margin:0 2pt;" id="btn_back" href="#">
    <i class="fas fa-arrow-circle-left"></i> Back</a>
  {% block toolbar %}{% endblock %}
  {% if form_delete %}
  <a class="btn btn-md btn-danger" style="margin:0 2pt;" id="btn_delete" onclick="do_delete()">
    <i class="fas fa-trash-alt"></i> Delete</a>
  {% endif %}
  {% block toolbar_end %}{% endblock %}
<div>
{% endblock %}

{% block content %}
<div id="alert-container" class="row d-none"></div>
<div class="container">
  {% block feild_set %}
  <form id="form_list"{% if has_file_field %} enctype="multipart/form-data"{% endif %}
    {% if form_url %} action="{{ form_url }}"{% endif %}>
    {% csrf_token %}
    {{ form.as_form }}
    <div class="form-row">
      <button type="submit" name="submit" class="btn btn-primary" style="margin: 4pt 0 0 auto;"
        onclick="s($(this).closest('form'))"><strong>Submit</strong></button>
    </div>
  </form>
  {% endblock %}
<div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'form.js' %}"></script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"
  inetgrity="sha384-KbjtsG2/8FseXr/pG6hEWL1vE9vDr4gxEGtXWMK8T6D9fb83Nq+Ka0FiwxUSskvd"
  crossorigin="anonymous"></script>
<script>
var id = $('#form_list input[type=number]')[0]
$("#form_list").submit(function(e) {
  e.preventDefault();
  data = serialize_form(e.currentTarget);

  $.ajax({
    method: "POST",
    url: location.href,
    data: data
  })
  .done(function(data) {
    doneProcess(data,e.currentTarget);
    if (data["status"] == "success") {
      if (data["id"] !== undefined) {
        if (snew) {
          reset_form(this);
          location.reload(true);
        } else {
          location.replace(get_basepath() + data["id"] + '/');
        }
      } else {location.replace(get_basepath());}
    }
  })
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error,e.currentTarget);});
});
</script>
{% endblock %}
