{% extends "base/base.html" %}
{% load i18n static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.4/b-2.2.2/b-html5-2.2.2/cr-1.5.5/datatables.min.css"/>
{% endblock %}

{% block page_actions %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a href="{{ request.path }}0/" class="btn btn-success">
    <i class="fas fa-plus"></i>
    New
  </a>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped" id="{{ form.id|default:'form_list' }}" style="width:100%;">
      <thead>
        <tr>
        {% for header in form_fields %}
          <th>{{ header }}</th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
        {{ form_row }}
      </tbody>
    </table>
  <div>
</div>
{% endblock content %}
{% block extra_js %}
{% include 'components/datatables_scripts.html' %}
<script type="text/javascript">
<!--
  $(document).ready(function() {
  $("#{{ form.id|default:'form_list' }}").DataTable({
    buttons: ['csvHtml5','excelHtml5'],
    colReorder: true
  });
} );
-->
</script>
{% endblock %}
