{% extends "hirs_admin/base.html" %}
{% load i18n static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"/>
{% endblock %}

{% block page_actions %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a href="{{ request.path }}0/" class="btn btn-success">
    <i class="fas fa-plus"></i>
    New
  </a>
</div>
{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table table-striped" id="{{ form.id|default:'form_list' }}" style="width:100%;">
    <tr>
    {% for header in form.fields %}
      <th>{{ header }}</th>
    {% endfor %}
    </tr>
    {{ row.list_rows }}
  </table>
<div>
{% endblock content %}
{% block base_js %}
{% include 'hirs_admin/components/_scripts.html' %}
{% include 'hirs_admin/components/datatables_scripts.html' %}
<script type="text/javascript">
<!--
$(document).ready(function() {
  $('#' + "{{ form.id|default:'form_list' }}").DataTable();
} );
-->
</script>
{% endblock %}
