{% extends "hirs_admin/base.html" %}
{% load i18n static %}

{% block page_actions %}
{% if form_delete %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a class="btn btn-md btn-danger" id="btn_delete" onclick="do_delete()">Delete</a>
<div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  {% block feild_set %}
  <form id="{{ form.id|default:'form_list' }}"{% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}>
    {% csrf_token %}
    {{ form.as_form }}
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
  {% endblock %}
<div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'hirs_admin/dist/js/cookie.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/alerts.js' %}"></script>
<script>
$("#" + "{{ form.id|default:'form_list' }}").submit(function(e) {
  e.preventDefault();

  $.ajax({
    method: "POST",
    url: location.href,
    data: $(this).serializeArray()
  })
  .done(function(data) {doneProcess(data);})
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);})
});
function isInt(value) {
  var x;
  if (isNaN(value)) {
    return false;
  }
  x = parseFloat(value);
  return (x | 0) === x;
}
function do_delete() {
  const csrftoken = $('[name=csrfmiddlewaretoken]')[0].value;
  $.ajax({
    method: "Delete",
    url: location.href,
    })
  .done(function(data){
    if (!isNaN(data['location'])) {
      location.reload(data['location']);
    }
  })
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);});
}
$(function() {
  var is_new = false;
  var loc = location.pathname.split('/');
  loc.pop()
  if (isInt(loc[loc.length-1])) {
    if (loc[loc.length-1] === '0') {
      is_new = true;
    }
    loc.pop();
  }
  loc = loc.join('/') + '/';
  $('nav .mt-2 li a').each(function() {
    $this = $(this);
    if ($this.attr('href').indexOf(loc) !== -1) {
      $this.addClass('active');
    }
  });
  if (is_new) {
    $('#form_list input').each(function() {
      $this = $(this);
      if (!isNaN($this.id)) {
        id = $this.id.split('_');
      }
      else {
        id = []
      }
      if (id[id.length-1] === 'id') {
        $this.disable = false;
        $this.readOnly = false;
      }
    });
  }
  const csrftoken = getCookie('csrftoken')
  $.ajaxSetup({
    headers: { "X-CSRFToken": csrftoken }
  });
});
</script>
{% endblock %}
