{% extends "hirs_admin/base.html" %}
{% load i18n static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'hirs_admin/dist/css/base.css' %}">
{% endblock %}

{% block page_actions %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a class="btn btn-md btn-primary" style="margin:0 2pt;" id="btn_back" href="#"><i class="fas fa-arrow-circle-left"></i> Back</a>
  {% block toolbar %}{% endblock %}
  {% if form_delete %}
  <a class="btn btn-md btn-danger" style="margin:0 2pt;" id="btn_delete" onclick="do_delete()"><i class="fas fa-trash-alt"></i> Delete</a>
  {% endif %}
  {% block toolbar_end %}{% endblock %}
<div>
{% endblock %}

{% block content %}
<div id="alert-container" class="row d-none"></div>
<div class="container">
  {% block feild_set %}
  <form id="form_list" {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}>
    {% csrf_token %}
    {{ form.as_form }}
    <div class="form-row">
      <button type="submit" name="submit" class="btn btn-primary" style="margin: 4pt 0 0 auto;"><strong>Submit</strong></button>
    </div>
  </form>
  {% endblock %}
<div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'hirs_admin/dist/js/cookie.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/alerts.js' %}"></script>
<script>
var id = $('#form_list input[type=number]')[0]
$("#form_list").submit(function(e) {
  e.preventDefault();
  form = $(this);
  data = $(this).serializeArray();
  $("#form_list input:disabled").each(function(i,e) {
    data.push({name:e.name,value:e.value});
  })
  var b = 'submit';
  for(i=0;i<data.length;i++) {
    if (data[i].name == 'submit' || data[i].name == 'submit-new') {
      b = data[i].name;
      data.pop(i);
      break;
    }
  }

  $.ajax({
    method: "POST",
    url: location.href,
    data: data
  })
  .done(function(data) {
    doneProcess(data,form);
    if (data["status"] == "success") {
      if (data["id"] !== undefined) {
        if (b == 'submit') {
          location.replace(get_basepath() + data["id"] + '/');
        } else if (b == 'submit-new') {
          $(this).reset();
          location.reload(true);
        }
      } else {location.replace(get_basepath());}
    }
  })
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);});
});
function do_delete() {
  $.ajax({
    method: "delete",
    url: location.href,
    })
  .done(function(data){
    location.replace(get_basepath());
  })
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);});
}
function is_new() {
  if (isNaN(get_id())) {return undefined;}
  else if (get_id() > 0) {return false;}
  else {return true;}
}
$(function() {
  if (is_new()) {
    if (id !== undefined) {
      id.disabled = false;
      id.readOnly = false;
      //$('<input type="submit" name="submit-new" class="btn btn-primary" style="margin: 4pt 0 0 auto;" value="Submit & New"/>').insertBefore($('input[name=submit]'));
      //$('button[name=submit]').attr('style','margin: 4pt 0 0 4pt;');
    }
  }
  const csrftoken = getCookie('csrftoken')
  $.ajaxSetup({
    headers: { "X-CSRFToken": csrftoken }
  });
  $('#btn_back')[0].href = get_basepath()
});
</script>
{% endblock %}
