{% extends "hirs_admin/base.html" %}

{% block extra_style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div id="page-nav" class="list-group">
  <a class="list-group-item list-group-item-action" href="#employee">Employee</a>
  <a class="list-group-item list-group-item-action" href="#override">Employee Overrides</a>
  <a class="list-group-item list-group-item-action" href="#info">Employee Information</a>
</div>
<div data-spy="scroll" data-target="#page-nav" data-offset="0" class="scrollspy-example container">
  <div class="alert" role="alert" disabled>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h2 id="employee">{{ employee.pk }} - {{ employee.givenname }} {{ employee.surname}}</h2>
  <form class="form-inline" id="employee-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-2">
      <lable for="photo" class="sr-only">Employee Photo</lable>
      <div class="form-group">
        {% if employee.photo %}
        <img class="m-3" src="{{ employee.photo }}">
        {% else %}
        <img clas="m-3" src="{% static 'hirs_admin/default-user.jpg' %}"
        {% endif %}
        <input type="file" class="form-control-file" name="photo" accept="image/*" required>
        <div class="invalid-feedback">
          A valid photo is required.
        </div>
      </div>
    </div>
    <input type="text" class="hidden" name="form" value="employee">
    <button type="submit" class="btn btn-primary mb-2">Update</button>
  </form>
  <form class="form-inline" id="designation-form">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-auto">
        <lable for='designation-1' class="sr-only">Designations</lable>
        <input type="text" class="form-control" placeholder="CISSP CPA ..." name="designation-1" value="{{ designation }}">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="designation-submit">Update</button>
        </div>
      </div>
    </div>
    <input type="text" class="hidden" name="form" value="override">
  </form>
  <h3 id="override">Overrides</h3>
  <form id="override-form">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <lable for="firstname">First Name</lable>
        <input type="text" class="form-control" name="fistname" value="{{overrides.firstname}}" placeholder="{{employee.givenname}}">
      </div>
      <div class="form-group col-md-4">
        <lable for="lastname">Last Name</lable>
        <input type="text" class="form-control" name="lastname" value="{{overrides.lastname}}" placeholder="{{employee.surname}}">
      </div>
      <div class="form-group col-md-4">
        <lable for="nickname">Nickname</lable>
        <input type="text" class="form-control" name="nickname" value="{{overrides.nickname}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <lable for="username">Username</lable>
        <input type="text" class="form-control" name="username" value="{{overrides.username}}" placeholder="{{employee.username}}">
      </div>
      <div class="form-group col-md-6">
        <lable for="email_alias">Email Alias</lable>
        <input type="text" class="form-control" name="email_alias" value="{{overrides.email_alias}}" placeholder="employee.username">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="location">Home Building</label>
        <select name="location" class="form-control">
        {% for location in locations %}
          <option value="{{location.pk}}">{{location}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
  </form>
  <h3 id="info">Employee Information</h3>
  <div class="container-fluid">
    <h4>Position</h4>
    <p>{{ position }}<p>
    <h4>Phone</h4>
    <ul>
        <li>Primary ({{ primaryphone.label }}) - {{ primaryphone.number }}</li>
        {% if phones %}
        {% for phone in phones %}
        <li>{{ phone.label }} - {{ phone.number }}
        {% endfor %}
    <h4>Address</h4>
    <p><strong>{{ address.label }}</strong></p>
    <div class="row">
      <div class="col">{{ address.street1 }}</div>
      <div class="col">{{ address.street1 }}</div>
    </div>
    <div class="row">
      <div class="col">{{ address.city }}</div>
      <div class="col">{{ address.province}}</div>
      <div class="col">{{ address.postal_code}}</div>
    </div>
  </div>
  <h3 id="password">Default Password</h3>
  <div class="form-group">
    <input type="password" class="form-control" data-toggle="password" value="{{ employee.password }}">
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
<!--
var itemsOverride
function hashDiff(h1,h2){var d={};for(var k in h2){if(h1[k]!==h2[k])d[k]=h2[k];}return d;}
function convertSerializedArrayToHash(a){var r={};for(var i=0;i<a.length;i++){r[a[i].name]=a[i].value;}return r;}
function doneProcess(data) {
  if (data["status"] != "success") {
    $('.alert').text(data["message"]);
    $('.alert').alert();
    $('.alert').addClass("alert-danger");
    for(f in data["feilds"]){$('#'+f).addClass("is-invalid");}
  } else {
    $('.alert').text("Success");
    $('.alert').alert();
    $('.alert').addClass("alert-sucess");
    if ($(this).id == "override-form") {
      itemsOverride = convertSerializedArrayToHash($(this).serializeArray());
    }
    $('.is-invalid').removeClass("is-invalid");
  }
}
function errorProcess(jqXHR,status,error) {
  $('.alert').text("A Server error occured: " + status);
  $('.alert').alert();
  $('.alert').addClass("alert-danger");
}
$(function() {
  $('#'+employee.location).attr("default", true);
  const csrftoken = Cookies.get('csrftoken');
  var itemsOverride = convertSerializedArrayToHash($("#override-form").serializeArray());
});
$("#override-form").submit(function(e) {
  e.preventDefault();
  var data = hashDiff(itemsOverride,convertSerializedArrayToHash($(this).serializeArray()))
  data["csrfmiddlewaretoken"] = csrftoken
  data["form"] = "override"
  
  $.ajax({
    type: "POST",
    url: location.href,
    data: form_data
  })
  .done(doneProcess(data);)
  .error(errorProcess(jqXHR,status,error);)
});
$("#employee-form").submit(function(e) {
  e.preventDefault();
  if (e.checkValidity() === false){
      e.stopPropagation()
      return false
  }
  
  const fd = new FromData();
  file = $(this).querySelector('input[type=file]').files[0]
  fd.append('csrfmiddlewaretoken',csrf_token)
  fd.append('form','employee')
  fd.append('photo',file)    

  $.ajax({
    type: "POST",
    url: location.href,
    data: fd.serialize()
  })
  .done(doneProcess(data);)
  .error(errorProcess(jqXHR,status,error);)
});
$("#designation-form").submit(function(e) {
  e.preventDefault();

  $.ajax({
    type: "POST",
    url: location.href,
    data: form.serialize(),
    datatype: "json",
  })
  .done(doneProcess(data);)
  .error(errorProcess(jqXHR,status,error);)
});
-->
</script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js" inetgrity="sha384-KbjtsG2/8FseXr/pG6hEWL1vE9vDr4gxEGtXWMK8T6D9fb83Nq+Ka0FiwxUSskvd" crossorigin="anonymous"></script>
{% endblock %}
