{% extends "hirs_admin/base.html" %}
{% load static i18n%}

{% block page_actions %}
<div class="btn-toolbar mb-2 mb-md-0">
  <a class="btn btn-md btn-primary" style="margin:0 2pt;" id="btn_back" href="#"><i class="fas fa-arrow-circle-left"></i> Back</a>
  {% block toolbar %}{% endblock %}
<div>
{% endblock %}
{% block content %}
<div class="container">
  <h2 id="employee">{{ employee.pk }} - {{ employee.givenname }} {{ employee.surname }}</h2>
  <form style="display:None;" id="employee-form" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Photo</h4>
    {% if employee.photo %}
    <img class="m-3" style="height:200px;margin: 0 0 5pt 0;" src="{{ employee.photo }}">
    {% else %}
    <img clas="m-3" style="height:200px;margin: 0 0 5pt 0;" src="{% static 'hirs_admin/default-user.jpg' %}">
    {% endif %}
    <div class="input-group" style="padding: 2pt 0;" >
        <input type="file" class="custom-file-input" name="photo" id="photo" accept="image/*" required>
        <label class="custom-file-label" for="photo">Choose file</label>
        <div class="invalid-feedback"> A valid photo is required.</div>
    </div>
    <input type="hidden" name="form" value="employee">
    <button type="submit" class="btn btn-success mb-2">Update</button>
  </form>
  <hr style="border-top:2px solid #bbb;display:None;">
  <form id="designation-form">
    {% csrf_token %}
    <h4>Designations</h4>
    <div class="input-group">
      <lable for='designation-1' class="sr-only">Designations</lable>
      <input type="text" class="form-control" placeholder="CISSP CPA ..." name="designation-1" value="{{ designation }}">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit" id="designation-submit">Update</button>
      </div>
    </div>
    <input type="hidden" name="form" value="designation">
  </form>
  <hr style="border-top:2px solid #bbb;">
  <form id="override-form">
    {% csrf_token %}
    <h4>Overrides</h4>
    <div class="form-row">
      <div class="form-group col-md-4">
        <lable for="firstname">First Name</lable>
        <input type="text" class="form-control" name="fistname" value="{{overrides.firstname}}" placeholder="{{employee.givenname}}">
      </div>
      <div class="form-group col-md-4">
        <lable for="lastname">Last Name</lable>
        <input type="text" class="form-control" name="lastname" value="{{overrides.lastname}}" placeholder="{{employee.surname}}">
      </div>
      <div class="form-group col-md-4">
        <lable for="nickname">Nickname</lable>
        <input type="text" class="form-control" name="nickname" value="{{overrides.nickname}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <lable for="username">Username</lable>
        <input type="text" class="form-control" name="username" value="{{overrides.username}}" placeholder="{{employee.username}}">
      </div>
      <div class="form-group col-md-6">
        <lable for="email_alias">Email Alias</lable>
        <input type="text" class="form-control" name="email_alias" value="{{overrides.email_alias}}" placeholder="employee.username">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="_location">Home Building</label>
        <select name="_location" class="form-control selectpicker" data-style="bg-white" data-live-search="true">
        {% for location in locations %}
          <option value="{{location.pk}}"{% if location == overrides.location %} selected{% endif %}>{{location}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <input type="hidden" name="form" value="overrides">
    <button type="submit" class="btn btn-success mb-2">Update</button>
  </form>
  <hr style="border-top:2px solid #bbb;">
  <h4>Information</h4>
  <div class="container-fluid">
    <p><strong>Position</strong></p>
    <p>{{ employee.primary_job.name }}<p>
    {% if phones %}
    <p><strong>Phone</strong></p>
    <ul>
      {% for phone in phones %}
      <li>{{ phone.label }} - {{ phone.number }}
      {% endfor %}
    </ul>
    {% endif %}
    <p><strong>Address</strong></p>
    <ul>
    <li><p>{{ address.label }}</p>
      <p>{{ address.street1 }}{% if address.street2 %}<br/>
      {{ address.street2 }}{% endif %}<br />
      {{ address.city }}, {{ address.province}} {{ address.postal_code}}
      </li>
    </ul>
  </div>
  {% if employee.password %}
  <hr style="border-top:2px solid #bbb;">
  <h3 id="password">Default Password</h3>
  <div class="input-group">
    <input type="password" class="form-control" data-toggle="password" value="{{ employee.password }}">
  </div>
  {% endif %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'hirs_admin/dist/js/cookie.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/serializer.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/alerts.js' %}"></script>
<script>
<!--
var itemsOverride;
function validCheck() {
  var photo = $("#employee-form input[type=file]")[0]
  if (photo.files > 0) {
    return photo.checkValidity();
  }
  return false
}
$(function() {
  $('#'+employee.location).attr("default", true);
  itemsOverride = convertSerializedArrayToHash($("#override-form").serializeArray());
  $("#employee-form input[type=file]")[0].onchange = validCheck;
  const csrftoken = getCookie('csrftoken')
  $.ajaxSetup({
    headers: { "X-CSRFToken": csrftoken }
  });
});
$("#override-form").submit(function(e) {
  e.preventDefault();
  var data = hashDiff(itemsOverride,convertSerializedArrayToHash($(this).serializeArray()))
  data['form'] = 'override'
  
  $.ajax({
    method: "POST",
    url: location.href,
    data: data
  })
  .done(function(data) {doneProcess(data);})
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);})
});
$("#employee-form").submit(function(e) {
  e.preventDefault();
  if (validCheck() === false){
      e.stopPropagation()
      return false
  }
  
  const fd = new FromData();
  file = $(this).querySelector('input[type=file]').files[0]
  fd.append('form','employee')
  fd.append('photo',file)    

  $.ajax({
    method: "POST",
    url: location.href,
    data: fd.serialize()
  })
  .done(function(data) {doneProcess(data);})
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);})
});
$("#designation-form").submit(function(e) {
  e.preventDefault();

  $.ajax({
    method: "POST",
    url: location.href,
    data: $(this).serializeArray(),
  })
  .done(function(data) {doneProcess(data);})
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);})
});
-->
</script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js" inetgrity="sha384-KbjtsG2/8FseXr/pG6hEWL1vE9vDr4gxEGtXWMK8T6D9fb83Nq+Ka0FiwxUSskvd" crossorigin="anonymous"></script>
{% endblock %}
