{% extends "hirs_admin/base.html" %}
{% load static %}

{% block content %}
<div class="alert" role="alert"></div>
<div class="row" style="padding:0 1.5rem">
  <div data-spy="scroll" data-target="#page-nav" data-offset="0" class="scrollspy-example container col-md-10 order-md-2">
    <div data-spy="scroll" data-target="#page-nav" data-offset="0" class="scrollspy-example">
      <form id="settings">
        {% csrf_token %}
        {{ settings.as_html }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div id="page-nav" class="list-group col-md-2 order-md-1 mb-2">
    {{ settings.as_nav }}
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js" inetgrity="sha384-KbjtsG2/8FseXr/pG6hEWL1vE9vDr4gxEGtXWMK8T6D9fb83Nq+Ka0FiwxUSskvd" crossorigin="anonymous"></script>
<script src="{% static 'hirs_admin/dist/js/cookie.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/serializer.js' %}"></script>
<script src="{% static 'hirs_admin/dist/js/alerts.js' %}"></script>
<script type="text/javascript">
var startItems
const $form = $('form[id=settings]');
const csrftoken = getCookie('csrftoken')
$(function() {
  $.ajaxSetup({
    headers: { "X-CSRFToken": csrftoken }
  });
  startItems = convertSerializedArrayToHash($form.serializeArray()); 
});
$('body').scrollspy({ target: '#page-nav' });
$form.submit(function(e) {
  e.preventDefault();
  var data = hashDiff(startItems,convertSerializedArrayToHash($form.serializeArray()));
  
  $('.alert').dismiss;
  $('.alert').removeClass("alert");

  $.ajax({
    method: "POST",
    url: location.pathname,
    data: data,
  })
  .done(function(data) {
    doneProcess(data);
    if (data["status"] == "success") {
      startItems = convertSerializedArrayToHash($form.serializeArray());
      $('form[id=settings] button:submit').removeClass('btn-primary').addClass('btn-success')
    } else {
      $('form[id=settings] button:submit').removeClass('btn-primary').addClass('btn-danger')
    }
  })
  .fail(function(jqXHR,Status,error) {errorProcess(jqXHR,status,error);});
});
</script>
{% endblock %}