{% extends "hirs_admin/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'hirs_admin/dist/css/base.css' %}">
{% endblock %}

{% block content %}
<div id="alert-container" class="row d-none"></div>
<div class="row" style="padding:0 1.5rem">
  <div data-bs-spy="scroll" data-bs-target="#page-nav" data-bs-offset="0" tabindex="0" class="container col-md-10 order-md-2">
    {{ settings.as_html }}
  </div>
  <div id="page-nav" class="list-group col-md-2 order-md-1 mb-2">
    {{ settings.as_nav }}
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js" inetgrity="sha384-KbjtsG2/8FseXr/pG6hEWL1vE9vDr4gxEGtXWMK8T6D9fb83Nq+Ka0FiwxUSskvd" crossorigin="anonymous"></script>
<script src="{% static 'hirs_admin/dist/js/form.js' %}"></script>
<script type="text/javascript">
$('form').each(function(i,v) {
  $(this).submit(function(e) {
    form = $(this);
    e.preventDefault();
    data = serialize_form(form);

    $.ajax({
      method: "POST",
      url: location.pathname,
      data: data,
    })
    .done(function(data) {doneProcess(data,form);})
    .fail(function(jqXHR,status,error) {
      errorProcess(jqXHR,status,error,form);
    });
  })
});
</script>
{% endblock %}