{% load i18n static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="{{ site.logo |default:"https://static.evrazplace.com/logos/REAL-WHITE-RGB.png" }}" alt="The Regina Exhibition Association Ltd Logo" class="brand-image">
    <span class="brand-text font-weight-light">{{ site.name | default:"HIRS Sync" }}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'hirs_admin/default-user.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">
          {% firstof request.user.get_full_name request.user.get_username %}
          </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a role="button" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Employeess and Roles
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'employee' %}" class="nav-link">
                <i class="fas fa-user nav-icon"></i>
                <p>Employees</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pending' %}" class="nav-link">
                <i class="fas fa-user nav-icon"></i>
                <p>Pending Employees</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'jobs' %}" class="nav-link">
                <i class="fas fa-hat-cowboy-side nav-icon"></i>
                <p>Job Roles</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a role="button" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Busniess Admin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'business_units' %}" class="nav-link">
                <i class="fas fa-sitemap nav-icon"></i>
                <p>Busniess Units</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'location' %}" class="nav-link">
                <i class="far fa-building nav-icon"></i>
                <p>Locations</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a role="button" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Settings
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          {% block extra_nav %}{% endblock %}
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'settings' %}" class="nav-link">
                <i class="fas fa-cogs nav-icon"></i>
                <p>Settings</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'group_mappings' %}" class="nav-link">
                <i class="fas fa-globe"></i>
                <p>AD Group Mappings</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'patterns' %}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>Word List Mapping</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>